a[href*='https://github.com/Chainlit/chainlit'] {
    visibility: hidden;
}

.watermark {
    display: none !important;
}

/*
div.MuiBox-root {
    max-width: 80rem;
}

div.MuiImageList-root {
    max-width: 1200px;
}
*/